.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;

  border-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  transition: background-color 0.2s ease-in-out;
}

.topo {
  background-color: #fff;
  backdrop-filter: blur(20px);
  transition: 0.2s ease-in-out;
  border-color: #fafafa;
}

.open {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}

.container {
  height: fit-content;
  max-width: 1432px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  user-select: none;
}

.logo img {
  width: 100%;
}

.topo .rowContent {
  color: #050505;
}
.rowContent {
  color: #fff;
  display: flex;
}

.rowContent a {
  padding: 14px 18px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.rowContent a:hover {
  backdrop-filter: blur(20px);
  background-color: #ffffff25;
}

.topo .rowContent a:hover {
  background-color: #05050515;
}

.hamburguer {
  place-items: center;
  width: 35px;
  height: 35px;
  color: #fff;
  display: none;
  border-radius: 12px;
  cursor: pointer;
}

.open .hamburguer,
.topo .hamburguer {
  color: #050505;
}

.open .rowContentHamburguer {
  display: flex;
}
.rowContentHamburguer {
  display: none;
  padding: 1rem;
  flex-direction: column;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.rowContentHamburguer a {
  opacity: 0;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  animation: fadein 0.5s ease-in-out forwards;
}
.rowContentHamburguer a:hover,
.rowContentHamburguer a:focus {
  background-color: #f0f0f0;
}

.rowContentHamburguer a:nth-child(1) {
  animation-delay: 0s;
}
.rowContentHamburguer a:nth-child(2) {
  animation-delay: 0.05s;
}
.rowContentHamburguer a:nth-child(3) {
  animation-delay: 0.1s;
}
.rowContentHamburguer a:nth-child(4) {
  animation-delay: 0.15s;
}
.rowContentHamburguer a:nth-child(5) {
  animation-delay: 0.2s;
}

@media only screen and (max-width: 1050px) {
  .logo {
    width: 35px;
  }
  .container {
    padding: 0.75rem 1rem;
  }
  .rowContent {
    display: none;
  }

  .hamburguer {
    display: grid;
  }
}
