.navbar {
  padding: 1rem;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.bkg {
  width: 100%;
  margin: auto;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  width: fit-content;
  border-radius: 50px;
  background-color: #172726;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 0px 10px 3px #24242450;
}

.logo {
  display: flex;
  width: 50px;
}

.logo img {
  opacity: 0.5;
  width: 100%;
}

.row {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 14px;
}

.row a {
  color: #fff;
  opacity: 0.5;
  transition: 0.15s ease-in-out;
}
.row a:hover {
  opacity: 1;
  cursor: pointer;
}
